.items {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  border: 1px solid #c5d0db;
  margin: 10px 0;
}

/* logo */
.logo {
  flex-grow: 0;
  width: 10%;
  min-width: 50px;
  max-width: 80px;
  height: auto;
  margin: 0;
  img {
    display: block;
    width: 100%;
  }
}

/* details */
.details {
  flex-grow: 1;
  width: 100%;
}
.title {
  font-size: 1.6rem;
  color: #111111;
  line-height: 110%;
  margin: 0.5em 0;
}
.location {
  font-size: 1.4rem;
  color: #555555;
  line-height: 110%;
  margin: 0.5em 0;
  span {
    font-size: inherit;
  }
}

/* amount */
.amount {
  flex-grow: 0;
  max-width: 200px;
  h3 {
    font-size: 1.6rem;
    margin: 0.5em 0;
    text-align: right;
    white-space: pre;
  }
}
